Description=filmpin server
After=network.target multi-user.target

[Service]
User=mrps

WorkingDirectory=/home/mrps/prod/filmpin/server
ExecStart=node index.js
Environment=./.env
StandardOutput=journal
StandardError=journal
SyslogIdentifier=filmpin

[Install]
WantedBy=multi-user.target
